<%- include("layout")%>
    <h1>
        <%= title %>:<%= book.title %> 
    </h1>
    <p><strong>Author:</strong><a href="book.author.url">book.author.name</a></p>
</div>
</div>
</div>
</body>
</html>
        